body {
    font-family: Arial, sans-serif;
}
#wavestatsimg {
    width: 400px;
    height: auto;
}
#usulogo {
    width: 400px;
    height: auto;
}
#wavelogo {
    width: 400px;
    height: auto;
}
.maincontent {
    margin: 0 auto;
    width: 90%;
}
.header {
    margin: 0 auto;
    padding-top: 1cm;
    padding-bottom: 1cm;
    text-align: center;
}
.footer {
    padding-top: 1cm;
    padding-bottom: 1cm;
    text-align: center;
}
.wavestatsimgc {
    width: 100%;
    text-align: center;
}
#wavefeatures {
    width:400px;
    height: auto;
}
hr {
    margin-bottom: 2cm;
}
a:link, a:visited {
    background-color: #333333;
    color: #ffffff;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.flexedbox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
@media only screen and (max-width: 700px) {
    .flexedbox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #wavestatsimg {
        width: 200px;
        height: auto;
    }
    #wavelogo {
        width: 200px;
        height: auto;
    }
    #usulogo {
        width: 200px;
        height: auto;
    }
    #wavefeatures {
        width:200px;
        height: auto;
    }
}